body {
  color: #333;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}


#chatbox {
  flex-grow: 1;
  overflow-y: auto;
  padding: 1em;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the left by default */
}

.message-wrapper.assistant {
  align-self: flex-end; /* Align assistant messages to the right */
}

.assistant, .user {
  padding: 10px;
  border-radius: 10px;
  background-color: #f0f0f0;
  margin: 10px 0; /* Add margin-top and margin-bottom */
  max-width: 70%;
  font-size: 1.2em; /* Increase the font size */
  word-wrap: break-word;
}

.user {
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(8, 8, 170); /* Changes the chatbot's speech bubbles to blue */
  color: white; /* Changes the chatbot's text color to white for better contrast */
  margin: 10px 0; /* Add margin-top and margin-bottom */
  max-width: 70%;
  word-wrap: break-word;
  font-size: 1.2em; /* Increase the font size */
  align-self: flex-end; /* Aligns the bubble to the right */
  text-align: right; /* Aligns the text inside the bubble to the right */
}

.dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 5px;
  background-color: #000; /* you can change the color */
  border-radius: 50%;
  opacity: 0.4;
  animation: dotPulse 1.9s infinite;
}

.dot:nth-child(2) {
  animation-delay: 0.2s;
}

.dot:nth-child(3) {
  animation-delay: 0.4s;
}

.typing-indicator {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}


@keyframes dotPulse {
  0%, 100% {
    transform: scale(0.8);
    opacity: 0.4;
  }
  10% {
    transform: scale(1);
    opacity: 1;
  }
  20%, 90% {
    transform: scale(0.8);
    opacity: 0.4;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
}

#chatForm {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 40px);
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #fff;
}

#input {
  background-color: #f0f0f0;
  flex-grow: 1;
  margin-right: 10px;
  padding: 10px 20px;
  max-width: 80%;
  border-radius: 5px;
  border: none;
  font-size: 1.2em;

}

#chatForm input[type=submit] {
  background-color: rgb(99, 193, 94);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2em;
  margin-right: 10px;
}

#done-button {
  background-color: rgb(160, 2, 2);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2em;
  margin-left: 0px;
}

@media (max-width: 600px) {
  body, html {
    margin: 0;
    height: 600px; /* Needed to hard code heigth in mobile for qualitrcs embed iframe */
    padding: 10px; /* Reduced from 10px to ensure no padding is causing layout issues */
  }


  #chatForm {
    padding: 0; /* Eliminate padding that could cause whitespace */
    flex-direction: column; /* Stack the form elements */
    align-items: stretch; /* Stretch the form elements */
    margin: 0; /* Reset any default margin */
    bottom: 0;
    left: 10px; /* Align to the left edge */
    transform: none; /* Remove transform */
    width: calc(100% - 20px); /* Adjust if needed to account for specific body padding */
    box-sizing: border-box; /* Ensure padding and border are included in width calculation */
  }

  #input {
    order: 1;
    margin-right: 0px;
    max-width: 100%;
    margin: 5px 0; /* Adjusted for spacing between elements */
    padding: 10px; 
    width: 100%; /* Ensure full width usage */
  }

  #chatForm input[type=submit], #done-button {
    order: 2; /* Ensure buttons come after the input */
    padding: 15px 20px; /* Adjust padding for better tap targets */
  }

  #input, #chatForm input[type=submit], #done-button {
    box-sizing: border-box; /* Include padding in the element's total width and height */
    margin: 5px 0; /* Adjusted for spacing between elements */
    padding: 10px; /* Adjust padding to your preference, ensuring it doesn't push content too wide */
    width: 100%; /* Ensure full width */
  }
}