<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>AI Bot Chat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Viewport meta tag added here -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>AI Bot Chat</h1>

        

    <div id="chatbox">
        <p class="assistant">{{ assistant_message|safe }}</p>
        <div id="loading" style="display: none;">
            <!-- chat bubble for typing indicator -->
            <p class="assistant typing-indicator">
                <!-- three dots typing indicator -->
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </p>
        </div>
    </div>
    
    
    
    <form id="chatForm">
        <input id="input" type="text" size="80" placeholder="Please respond here">
        <input type="submit" value="Send">
        <button id="done-button">Done</button>
    </form>
    
    
</body>

<script>
    let turnCount = 0;
    let maxTurns = 15;
    let maxTime = 300000;
    let userID = "{{ user_id }}";


function scrollToBottom() {
    $('#chatbox').scrollTop($('#chatbox')[0].scrollHeight);
}

setTimeout(function(){ window.parent.postMessage("data",'*'); }, maxTime);

$("#chatForm").on("submit", function(e) {
    e.preventDefault();
    getBotResponse();
});

$("#done-button").on("click", function(e) {
    e.preventDefault(); // prevent any default action
    const message = {
        type: "done",
        status: "complete"
    };
    window.parent.postMessage(message,'*');
});



function getBotResponse() {
  var rawText = $("#input").val();
  var userHtml = '<p class="user">' + rawText + "</p>";
  $("#chatbox").append(userHtml);
  $("#input").val("");
  turnCount += 1;
  console.log(turnCount);
  if(turnCount >= maxTurns){
    window.parent.postMessage("data",'*');
    }

    // Move the loading div to the end and show it
    $("#loading").appendTo("#chatbox").show(); 

  $.get("/get", { msg: rawText, id: userID }).done(function(data) {
    var botHtml = '<p class="assistant">' + data + '</p>';
    $("#chatbox").append(botHtml);
    // Hide loading spinner
    $("#loading").hide();
    scrollToBottom();  
    });
}


</script>


</html>
